@{
    ViewData["Title"] = "İletişim";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="mb-4">İletişim</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bize Ulaşın</h5>
                <p class="card-text">
                    <i class="bi bi-envelope"></i> E-posta: info@kitapyurdu.com<br>
                    <i class="bi bi-telephone"></i> Telefon: +90 (212) 123 45 67<br>
                    <i class="bi bi-geo-alt"></i> Adres: İstanbul, Türkiye
                </p>
            </div>
        </div>
    </div>
</div>





